Source: graide
Section: devel
Priority: optional
Maintainer: Martin Hosken <martin_hosken@sil.org>
Build-Depends: debhelper (>= 8), dh-python, python (>= 2.7), python-setuptools, python3, python3-setuptools
Standards-Version: 4.1.5

Package: python-graide
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, libgraphite2-3 (>= 1.2.2), python-qtpy, python-fonttools, python-future, python-configparser, python-pyside, libfreetype6, grcompiler
Description: IDE for Graphite GDL font description development
 Graide is an IDE including a debugger that helps people develop
 GDL descriptions for smart fonts and compile them into the fonts.

Package: python3-graide
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, libgraphite2-3 (>= 1.2.2), python3-qtpy, python3-fonttools, python3-future, python3-configparser, python3-pyside, libfreetype6, grcompiler
Description: IDE for Graphite GDL font description development
 Graide is an IDE including a debugger that helps people develop
 GDL descriptions for smart fonts and compile them into the fonts.
